p {text-indent: 1em;}
p kbd {text-indent: 0em;)
/*
     FILE ARCHIVED ON 15:31:53 Mar 28, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:50:03 Jul 06, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.64
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.009
  esindex: 0.012
  cdx.remote: 28.524
  LoadShardBlock: 163.859 (3)
  PetaboxLoader3.datanode: 86.051 (4)
  PetaboxLoader3.resolve: 132.685 (2)
  load_resource: 57.961
*/