p {text-indent: 1em;}
p kbd {text-indent: 0em;)
/*
     FILE ARCHIVED ON 15:31:53 Mar 28, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:36:47 Jul 06, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.596
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.012
  esindex: 0.015
  cdx.remote: 9.466
  LoadShardBlock: 463.019 (3)
  PetaboxLoader3.datanode: 548.815 (4)
  load_resource: 156.148
  PetaboxLoader3.resolve: 59.283
*/