p {text-indent: 1em;}
p kbd {text-indent: 0em;)
/*
     FILE ARCHIVED ON 19:56:13 Jul 10, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:43:48 Jul 06, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.585
  exclusion.robots: 0.029
  exclusion.robots.policy: 0.017
  esindex: 0.015
  cdx.remote: 4.659
  LoadShardBlock: 907.324 (3)
  PetaboxLoader3.datanode: 158.501 (4)
  PetaboxLoader3.resolve: 235.599 (2)
  load_resource: 107.754
*/