p {text-indent: 1em;}
p kbd {text-indent: 0em;)
/*
     FILE ARCHIVED ON 05:18:31 Nov 07, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:35:01 Jul 06, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.426
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.011
  esindex: 0.008
  cdx.remote: 20.631
  LoadShardBlock: 212.776 (3)
  PetaboxLoader3.datanode: 690.563 (5)
  PetaboxLoader3.resolve: 630.44 (3)
  load_resource: 1153.336 (2)
*/