p {text-indent: 1em;}
p kbd {text-indent: 0em;)
/*
     FILE ARCHIVED ON 05:18:31 Nov 07, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:46:55 Jul 06, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.573
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 6.457
  LoadShardBlock: 102.044 (3)
  PetaboxLoader3.datanode: 221.921 (5)
  load_resource: 314.073 (2)
  PetaboxLoader3.resolve: 187.231 (2)
*/