p {text-indent: 1em;}
p kbd {text-indent: 0em;)
/*
     FILE ARCHIVED ON 05:18:31 Nov 07, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:40:11 Jul 06, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.42
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.007
  esindex: 0.009
  cdx.remote: 13.721
  LoadShardBlock: 129.855 (3)
  PetaboxLoader3.datanode: 546.275 (5)
  load_resource: 682.772 (2)
  PetaboxLoader3.resolve: 215.933 (2)
*/